name: work-1
on:
  push:
    branches:
      - main
jobs: 
  hello1:
    runs-on: ubuntu-latest
    steps:
      - name: sayhi
        run: echo "hi"
      - name: sayMyName
        run: echo "${{ github.actor }}"
